*{
    font-family: 'Roboto', sans-serif;

}
header{
    position: relative;
}

nav {           height: 50px;
                 background: black;
                 position: fixed;
                 
                 width: 100%;

}
            .menu {display: flex;
                list-style-type: none;
                justify-content: space-between;
                padding: 13px 70px;
                margin: 0;
    

}
 .menu .menu_link{
                    font-weight: 900;
                    color: rgb(223, 134, 19);
 }
 .menu .menu_item {border-right:2px solid white;
                    padding-right: 67px;
 }
 



        .sabheader{ background-color:rgba(0, 0, 0,.6);
                    height: 140px;
                    position: absolute;
                    width: 100%;
                    top: 50px;
                   

}
                .sabheader .cont{
                    margin-top: 40px;
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 31px;

}
.sabheader .sabheader_btn{
                    width: 259px;
                    height: 63px;
                    font-weight: 400;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-top: 30px;
                    border:2px solid green ;
                }
.sabheader .sabheader_btn:hover {
                     background-color:green;
}





.promo{ 
                    height: 800px;
                    background: url(../img/moning.webp) center center/cover no-repeat;
                
            
}





.main{
                    padding: 70px 0 70px 0;
                    min-height: 700px;

                     background-color:yellowgreen;
}
    .main .main_bloc{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
   
}
.main .main_bloc .main_raund{
                    width: 100px;
                    height: 100px;
                    background-color:blue;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 26px;
}
.main .main_tit{
                    text-transform: uppercase;
                    font-weight: 900;
                    text-align: center;
}
.main .main_bloc .main_descr{
                    width: 343px;

}
.main .main_bloc .main_descr .main_sabheader{
                    color: red;
                    font-weight: 900;
                    line-height: 20px;


}
.main .main_bloc .main_descr .main_text{
                    color:black;
                    font-weight: 700;
                    line-height: 20px;

}